<div class="rounded border-2 w-[350px] h-auto p-5 mt-10 bg-blue-200" *ngIf="product">

    <div class="">
        <img class="w-auto h-auto  rounded" [alt]="product.title" [src]="generateLink()">
    </div>
    <div class="mt-5">
        <p class="text-[20px] text-red-400 font-bold" *ngIf="product.amount === 0">
            SOLD OUT
        </p>
    </div>
    <div class="mt-5">
        <p class="text-center text-[25px]">
            {{product.title}}
        </p>
    </div>
    <div>
        <p>
            {{product.description}}
        </p>
    </div>
    <div>
        <h1 class="text-[30px] st">
            <span class="text-[35px]">
                Level
            </span> {{transformLevel(product.level)}}
        </h1>
    </div>

    <div>
        <p>
            {{product.amount}}/{{product.ini_amount}}
        </p>
    </div>

</div>