/* You can add global styles to this file, and also import other style files */
/* Border around all elements */

body {
    height: 100vh;
    background-color: #D4F1F4;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
}


.st {
    font-family: 'Bungee', cursive;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
    border: 1px solid red;
} */
